{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4">Sobre a IPP Academy</h2>
                <p class="lead">
                    Bem-vindo à IPP Academy, onde buscamos inspirar e capacitar pessoas de todas as idades e origens a explorar o emocionante mundo da programação.
                </p>
                <p>
                    Nossa jornada começou com uma visão simples: tornar a programação acessível e divertida para todos. Fundada por um grupo de entusiastas da tecnologia apaixonados por compartilhar seu conhecimento, a IPP Academy nasceu da crença de que a educação em tecnologia pode ser mais do que apenas aprender a codificar - pode ser uma jornada de descoberta, criação e realização pessoal.
                </p>
                <p>
                    Desde o início, nosso objetivo tem sido proporcionar uma experiência de aprendizado envolvente e prática, oferecendo uma variedade de cursos de programação abrangentes e recursos educacionais de alta qualidade. De cursos introdutórios para iniciantes até treinamentos avançados para profissionais experientes, nossa plataforma é projetada para atender às necessidades e interesses de todos os nossos alunos.
                </p>
                <p>
                    Na IPP Academy, acreditamos que a programação é uma habilidade fundamental para o século 21 e que todos têm o potencial de aprender e prosperar no mundo digital de hoje. Estamos empenhados em capacitar nossos alunos a alcançar seu pleno potencial, fornecendo as ferramentas, o suporte e a inspiração de que precisam para ter sucesso em suas jornadas de aprendizado.
                </p>
                <p>
                    Obrigado por se juntar a nós nesta emocionante aventura! Estamos ansiosos para ajudá-lo a desbloquear seu potencial criativo e construir um futuro brilhante na indústria da tecnologia.
                </p>
                <p class="text-center">
                    Atenciosamente,<br>
                    A Equipe IPP Academy
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
