{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4">Curso de Metodologias Ágeis: Do Básico ao Avançado</h2>
                <p class="lead">
                    Bem-vindo ao Curso de Metodologias Ágeis da IPP Academy, onde você mergulhará no mundo dinâmico e eficiente das práticas ágeis de desenvolvimento de software.
                </p>
                <p>
                    As Metodologias Ágeis são abordagens colaborativas e iterativas para o desenvolvimento de software, focadas na entrega contínua de valor ao cliente. Este curso abrange desde os conceitos fundamentais até as práticas avançadas, capacitando você a dominar as principais metodologias e técnicas utilizadas no ambiente ágil.
                </p>
                <h3>O que você aprenderá:</h3>
                <ul>
                    <li>Princípios e valores do Manifesto Ágil e como aplicá-los no desenvolvimento de software.</li>
                    <li>Scrum, Kanban, Lean e outras metodologias ágeis populares e suas respectivas práticas.</li>
                    <li>Planejamento ágil, incluindo estimação de histórias de usuário, criação de sprints e realização de reuniões de planejamento.</li>
                    <li>Colaboração e comunicação eficazes em equipes ágeis, incluindo técnicas de facilitação e resolução de conflitos.</li>
                    <li>Desenvolvimento de software orientado a testes (TDD) e integração contínua (CI) para garantir a qualidade do código.</li>
                    <li>Adoção de princípios DevOps para aumentar a colaboração entre desenvolvimento e operações.</li>
                    <li>Escalabilidade ágil e implementação em organizações de diferentes tamanhos e contextos.</li>
                </ul>
                <h3>Aplicações práticas:</h3>
                <p>
                    As Metodologias Ágeis são amplamente adotadas na indústria de software, desde startups até grandes empresas. Com as habilidades adquiridas neste curso, você estará preparado para liderar equipes ágeis, entregar produtos de alta qualidade de forma mais rápida e eficiente, e adaptar-se a mudanças contínuas no mercado.
                </p>
                <h3>Por que escolher a IPP Academy?</h3>
                <p>
                    Na IPP Academy, estamos comprometidos em oferecer uma educação de alta qualidade, com instrutores experientes e conteúdo de curso atualizado. Nosso objetivo é capacitá-lo a alcançar seus objetivos de carreira e se destacar como um profissional ágil confiante e qualificado.
                </p>
                <p>
                    Se você está interessado em impulsionar sua carreira no desenvolvimento de software e se tornar um especialista em metodologias ágeis, nosso curso é projetado para ajudá-lo a alcançar seus objetivos. Junte-se a nós e comece sua jornada rumo à maestria em Metodologias Ágeis!
                </p>
                <p class="text-center">
                    Junte-se à IPP Academy hoje e embarque na jornada ágil para o sucesso!
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
