{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4">Curso de C++: Do Básico ao Avançado</h2>
                <p class="lead">
                    Bem-vindo ao Curso de C++ da IPP Academy, onde você explorará os conceitos fundamentais e avançados dessa poderosa linguagem de programação.
                </p>
                <p>
                    C++ é uma linguagem de programação amplamente utilizada em diversos domínios, desde o desenvolvimento de sistemas operacionais até a criação de jogos. Este curso abrange desde os conceitos básicos até técnicas avançadas, permitindo que você domine completamente a linguagem C++ e suas aplicações práticas.
                </p>
                <h3>O que você aprenderá:</h3>
                <ul>
                    <li>Fundamentos de programação em C++, incluindo variáveis, tipos de dados, estruturas de controle e funções.</li>
                    <li>Orientação a objetos em C++, aprendendo sobre classes, métodos, herança, polimorfismo e encapsulamento.</li>
                    <li>Uso de ponteiros, referências e alocação dinâmica de memória para manipulação eficiente de dados.</li>
                    <li>Desenvolvimento de aplicativos e jogos com a biblioteca gráfica SFML (Simple and Fast Multimedia Library).</li>
                    <li>Trabalho com arquivos, manipulação de strings e outras operações de entrada e saída.</li>
                    <li>Criação de estruturas de dados personalizadas e implementação de algoritmos complexos.</li>
                    <li>Exploração de tópicos avançados, como programação concorrente, templates e STL (Standard Template Library).</li>
                </ul>
                <h3>Aplicações práticas:</h3>
                <p>
                    C++ é uma linguagem essencial em muitos campos, incluindo desenvolvimento de software embarcado, jogos, computação gráfica, sistemas de tempo real e muito mais. Com as habilidades adquiridas neste curso, você estará preparado para enfrentar desafios reais e contribuir para projetos emocionantes em diversas áreas da tecnologia.
                </p>
                <h3>Por que escolher a IPP Academy?</h3>
                <p>
                    Na IPP Academy, estamos comprometidos em fornecer uma educação de alta qualidade, com instrutores experientes e conteúdo de curso abrangente. Nosso objetivo é capacitá-lo a alcançar seus objetivos de carreira e se destacar como um programador C++ talentoso e confiante.
                </p>
                <p>
                    Se você é um iniciante absoluto ou um programador experiente, nosso curso de C++ é projetado para atender às suas necessidades e levá-lo para o próximo nível em sua carreira de desenvolvedor de software. Junte-se a nós e descubra o poder e a versatilidade do C++!
                </p>
                <p class="text-center">
                    Junte-se à IPP Academy hoje e comece sua jornada rumo à maestria em C++!
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
