{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4">Curso de Data Science: Do Básico ao Avançado</h2>
                <p class="lead">
                    Bem-vindo ao Curso de Data Science da IPP Academy, onde você mergulhará no emocionante mundo da ciência de dados e análise estatística.
                </p>
                <p>
                    Data Science é uma área multidisciplinar que envolve a coleta, limpeza, análise e interpretação de dados para extrair insights valiosos e tomar decisões informadas. Este curso abrange desde os conceitos básicos até técnicas avançadas, capacitando você a dominar as ferramentas e habilidades necessárias para se tornar um cientista de dados proficientes.
                </p>
                <h3>O que você aprenderá:</h3>
                <ul>
                    <li>Conceitos fundamentais de estatística e probabilidade para análise de dados.</li>
                    <li>Manipulação de dados com bibliotecas como Pandas, NumPy e Matplotlib em Python.</li>
                    <li>Visualização de dados para comunicar insights de forma clara e eficaz.</li>
                    <li>Aprendizado de máquina (Machine Learning), incluindo algoritmos supervisionados e não supervisionados.</li>
                    <li>Aplicações de Deep Learning em problemas de reconhecimento de padrões e processamento de linguagem natural.</li>
                    <li>Análise de dados em tempo real e big data com ferramentas como Apache Spark e Hadoop.</li>
                    <li>Construção de modelos preditivos e análise de séries temporais para prever tendências e padrões.</li>
                </ul>
                <h3>Aplicações práticas:</h3>
                <p>
                    Data Science é amplamente utilizado em uma variedade de campos, incluindo negócios, saúde, finanças, marketing e muito mais. Com as habilidades adquiridas neste curso, você estará preparado para enfrentar desafios reais e contribuir para projetos significativos em diversas áreas da indústria.
                </p>
                <h3>Por que escolher a IPP Academy?</h3>
                <p>
                    Na IPP Academy, estamos comprometidos em oferecer uma educação de alta qualidade, com instrutores experientes e conteúdo de curso atualizado. Nosso objetivo é capacitá-lo a alcançar seus objetivos de carreira e se destacar como um cientista de dados talentoso e confiante.
                </p>
                <p>
                    Se você está interessado em explorar o vasto campo da ciência de dados e aproveitar o poder dos dados para impulsionar a inovação, nosso curso de Data Science é projetado para ajudá-lo a alcançar seus objetivos. Junte-se a nós e embarque em uma jornada emocionante rumo à maestria em Data Science!
                </p>
                <p class="text-center">
                    Junte-se à IPP Academy hoje e comece sua jornada rumo à maestria em Data Science!
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
