{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4">Curso de Python: Do Básico ao Avançado</h2>
                <p class="lead">
                    Bem-vindo ao Curso de Python da IPP Academy, onde você vai mergulhar no universo dessa linguagem de programação poderosa e versátil.
                </p>
                <p>
                    Python é uma linguagem de programação de alto nível conhecida por sua sintaxe simples e legibilidade, tornando-a uma escolha popular para iniciantes e profissionais experientes. Este curso abrange desde os conceitos básicos até técnicas avançadas, permitindo que você domine completamente a linguagem Python e suas aplicações práticas.
                </p>
                <h3>O que você aprenderá:</h3>
                <ul>
                    <li>Conceitos fundamentais de Python, incluindo variáveis, tipos de dados, estruturas de controle e funções.</li>
                    <li>Orientação a objetos em Python, aprendendo sobre classes, métodos, herança e encapsulamento.</li>
                    <li>Manipulação de arquivos e bancos de dados, permitindo que você trabalhe com dados de forma eficiente.</li>
                    <li>Desenvolvimento de aplicações web usando frameworks populares como Django e Flask.</li>
                    <li>Automação de tarefas rotineiras e desenvolvimento de scripts para melhorar sua produtividade.</li>
                    <li>Criação de interfaces gráficas de usuário (GUI) com Tkinter e outras bibliotecas.</li>
                    <li>Exploração de tópicos avançados, como concorrência, testes automatizados e ciência de dados.</li>
                </ul>
                <h3>Aplicações práticas:</h3>
                <p>
                    Python é uma ferramenta essencial em uma variedade de campos, incluindo desenvolvimento web, análise de dados, automação de sistemas, inteligência artificial e muito mais. Com as habilidades adquiridas neste curso, você estará preparado para enfrentar desafios reais e construir soluções inovadoras em diversas áreas da tecnologia.
                </p>
                <h3>Por que escolher a IPP Academy?</h3>
                <p>
                    Na IPP Academy, nosso compromisso é oferecer uma experiência de aprendizado envolvente e prática, capacitando você a alcançar seus objetivos de carreira com sucesso. Nossos instrutores experientes e currículo abrangente garantem que você receba a orientação e o suporte necessários para se tornar um desenvolvedor Python confiante e habilidoso.
                </p>
                <p>
                    Não importa se você é um iniciante absoluto ou um programador experiente, nosso curso de Python é projetado para atender às suas necessidades e levá-lo para o próximo nível em sua jornada de desenvolvimento de software. Junte-se a nós e descubra o poder de Python!
                </p>
                <p class="text-center">
                    Junte-se à IPP Academy hoje e comece sua jornada rumo à maestria em Python!
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
