{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4">Curso de Ruby: Do Básico ao Avançado</h2>
                <p class="lead">
                    Bem-vindo ao Curso de Ruby da IPP Academy, onde você vai explorar os fundamentos dessa linguagem dinâmica e expressiva.
                </p>
                <p>
                    Ruby é uma linguagem de programação conhecida por sua simplicidade e elegância, tornando-a uma excelente escolha para desenvolvedores de todos os níveis de habilidade. Este curso abrange desde os conceitos básicos até técnicas avançadas, capacitando você a dominar completamente a linguagem Ruby e suas aplicações práticas.
                </p>
                <h3>O que você aprenderá:</h3>
                <ul>
                    <li>Fundamentos de Ruby, incluindo variáveis, tipos de dados, estruturas de controle e funções.</li>
                    <li>Orientação a objetos em Ruby, aprendendo sobre classes, métodos, herança e polimorfismo.</li>
                    <li>Trabalhar com arrays, hashes e outras estruturas de dados para manipulação eficiente de informações.</li>
                    <li>Desenvolvimento de aplicações web com o framework Ruby on Rails, construindo sites robustos e escaláveis.</li>
                    <li>Criação de scripts para automação de tarefas e desenvolvimento de ferramentas úteis.</li>
                    <li>Exploração de bibliotecas populares e gemas para ampliar as funcionalidades de seus projetos Ruby.</li>
                    <li>Teste de código com RSpec e outras ferramentas de teste para garantir a qualidade do seu software.</li>
                </ul>
                <h3>Aplicações práticas:</h3>
                <p>
                    Ruby é amplamente utilizado na indústria de desenvolvimento de software, especialmente em startups e empresas de tecnologia. Com as habilidades adquiridas neste curso, você estará preparado para construir aplicativos web, ferramentas de automação e muito mais, contribuindo para projetos emocionantes em diversas áreas da tecnologia.
                </p>
                <h3>Por que escolher a IPP Academy?</h3>
                <p>
                    Na IPP Academy, estamos comprometidos em oferecer uma experiência de aprendizado de alta qualidade, com instrutores experientes e currículo abrangente. Nosso objetivo é capacitá-lo a alcançar seus objetivos de carreira e se destacar como desenvolvedor Ruby talentoso e confiante.
                </p>
                <p>
                    Não importa se você está apenas começando sua jornada de programação ou buscando aprimorar suas habilidades existentes, nosso curso de Ruby é projetado para atender às suas necessidades e levá-lo para o próximo nível em sua carreira. Junte-se a nós e descubra todo o potencial de Ruby!
                </p>
                <p class="text-center">
                    Junte-se à IPP Academy hoje e comece sua jornada rumo à maestria em Ruby!
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
