{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4">Curso de Rust: Do Básico ao Avançado</h2>
                <p class="lead">
                    Bem-vindo ao Curso de Rust da IPP Academy, onde você explorará os fundamentos e recursos avançados dessa linguagem de programação moderna e segura.
                </p>
                <p>
                    Rust é uma linguagem de programação projetada para ser segura, concorrente e prática. Este curso abrange desde os conceitos básicos até técnicas avançadas, permitindo que você domine completamente a linguagem Rust e suas aplicações práticas em sistemas de software de alta performance e confiabilidade.
                </p>
                <h3>O que você aprenderá:</h3>
                <ul>
                    <li>Fundamentos de programação em Rust, incluindo variáveis, tipos de dados, controle de fluxo e funções.</li>
                    <li>Orientação a objetos em Rust, aprendendo sobre estruturas, enums, traits e impls.</li>
                    <li>Trabalho com ownership, borrowing e lifetimes para garantir a segurança do sistema e prevenir erros de memória.</li>
                    <li>Desenvolvimento de aplicações concorrentes e paralelas com Rust, aproveitando sua thread safety e performance.</li>
                    <li>Criação de código seguro e eficiente com o sistema de tipos forte e poderoso de Rust.</li>
                    <li>Exploração de bibliotecas populares e ferramentas para desenvolvimento web, sistemas operacionais, redes e muito mais.</li>
                    <li>Desenvolvimento de projetos reais e implementação de soluções inovadoras usando Rust.</li>
                </ul>
                <h3>Aplicações práticas:</h3>
                <p>
                    Rust é uma linguagem que se destaca em áreas como desenvolvimento de sistemas operacionais, aplicações de alto desempenho, sistemas embarcados e muito mais. Com as habilidades adquiridas neste curso, você estará preparado para enfrentar desafios complexos e construir sistemas robustos e seguros em diversas áreas da tecnologia.
                </p>
                <h3>Por que escolher a IPP Academy?</h3>
                <p>
                    Na IPP Academy, estamos comprometidos em oferecer uma educação de alta qualidade, com instrutores experientes e conteúdo de curso atualizado. Nosso objetivo é capacitá-lo a alcançar seus objetivos de carreira e se destacar como um desenvolvedor Rust talentoso e confiante.
                </p>
                <p>
                    Se você deseja entrar no mundo da programação segura e de alto desempenho, nosso curso de Rust é projetado para ajudá-lo a dominar essa emocionante linguagem de programação. Junte-se a nós e descubra todo o potencial de Rust!
                </p>
                <p class="text-center">
                    Junte-se à IPP Academy hoje e comece sua jornada rumo à maestria em Rust!
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
